.resumeContent{
  max-width: calc(min(760px,100%));
  margin: 0 auto;
}
.title{
  text-align: center;
  border: 1px solid;
}
.horizontalLine{
  margin-top: 0px;
  display: block;
  height: 1px;
  background: transparent;
  width: 100%;
  border: none;
  border-top: 1px solid;
}
.headingItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.headingDate{
  display: flex;
  align-items: center;
}
